<form class="col-md-6">
  <div class="form-group">
    <label for="exampleInputPassword1"><font color=cadetblue>Entrance ID</font></label>
    <input type="" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="data.entranceId" ng-disabled=true>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"><font color=cadetblue>Student Name</font></label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder ng-model="data.studentName" ng-disabled=true>
  </div>  
  <div class="form-group">
    <label for="exampleInputPassword1"><font color=cadetblue>Date Of Birth</font></label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder ng-model="data.DOB" ng-disabled=true>
  </div>
   <div class="form-group">
     <label for="exampleInputPassword1"><font color=cadetblue>+2 Cut-off marks</font></label>
    <input type="" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="data.hsccutoffmark" ng-disabled=true>
  </div>
   <div class="form-group">
     <label for="exampleInputPassword1"><font color=cadetblue>Entrance Cut-Off marks</font></label>
    <input type="" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="data.entrancecutoffmark" ng-disabled=true>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><font color=cadetblue>Rank</font></label>
    <input type="" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="data.rank" ng-disabled=true>
  </div>
</form>

